/* Ejercicio 3: Selectores avanzados

Crea una página con:

Una lista ordenada dentro de un contenedor <div>.
Algunos párrafos antes y después de la lista.
Aplica los siguientes estilos:

Usa el selector universal (*) para eliminar márgenes y relleno de todos los elementos.
Usa el selector de hijo directo (>) para cambiar el color del texto 
de los elementos <li> que sean hijos directos del contenedor <div>.
Aplica un color de fondo a los párrafos que estén inmediatamente después 
de la lista usando el selector de hermano adyacente (+). */

* {
    margin: 0px;
    padding: 0px;
}

div>ul>li {
    color: #124d74;
}

div + p, p + p {
    background-color: #12704a;
}